.info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
  gap: 15px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 50px;
  gap: 15px;
}

.buttons {
  display: flex;
  gap: 25px;
}